<div id="secondary">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>

    <section class="audio">
        <h3 class="widget-title">2082电台</h3>
        <ul class="widget-list">
            <object type="application/x-shockwave-flash" id="ximalaya_player" data="http://www.ximalaya.com/swf/sound/orange.swf?id=245678805" width="260" height="40"></object>
    </section>
    
    <section class="widget">
        {{ partial "recent_post" . }}
    </section>

    {{ partial "ads" . }}

    <section class="widget">
        {{ partial "categories" . }}
    </section>

    <section class="widget">
        {{ partial "tags" . }}
    </section>

    {{ partial "links" . }}

    <section class="widget">
        <h3 class="widget-title">其它</h3>
        <ul class="widget-list">
            <li><a href="{{ "index.xml" | absURL }}">文章 RSS</a></li>
        </ul>
    </section>
</div>